Repository cysp/terraform-provider-braze: changes, and which Codecov flags are due for each by the changed paths.
All: braze-client-go, provider

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: braze-client-go
      name: braze-client-go
      paths:
        - internal/braze-client-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**

ignore:
  - "main.go"

test: organize shared fixtures and check initialization
  internal/provider/attr_value_test.go
  internal/provider/braze_catalog_list_resource_test.go
  internal/provider/braze_catalog_resource_test.go
  internal/provider/braze_content_block_list_resource_test.go
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_list_resource_test.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/braze_provider_testing_test.go
  internal/provider/braze_sdk_authentication_key_resource_test.go
  internal/provider/braze_sdk_authentication_keys_resource_test.go
  internal/provider/braze_sdk_authentication_keys_testing_test.go
  internal/provider/http_client_rate_limit_test.go
  internal/provider/invalid_config_test.go
  internal/provider/query_import_cli_test.go
Due: provider

test(provider): reproduce CSS reset during email template updates
  internal/provider/email_template_http_test.go
Due: provider

fix(provider): retain observed CSS setting during template updates
  internal/provider/braze_email_template_resource_schema.go
Due: provider

chore: build with patched Go 1.26.8 toolchain
  go.mod
  internal/braze-client-go/testing/handler.go
  internal/provider/error_detail.go
Due: braze-client-go, provider

ci: align validation with terraform-provider-contentful
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/govulncheck.yml
  .github/workflows/test.yml
  .golangci-lint-version
  main.go
Due: none

fix(docs): use valid provider page frontmatter
  docs/index.md
  templates/index.md.tmpl
Due: none

docs: clarify resource ownership and operational workflows
  docs/index.md
  docs/list-resources/catalog.md
  docs/list-resources/catalog_item.md
  docs/list-resources/content_block.md
  docs/list-resources/email_template.md
  docs/resources/catalog.md
  docs/resources/catalog_item.md
  docs/resources/content_block.md
  docs/resources/email_template.md
  examples/resources/braze_sdk_authentication_key/import.sh
  examples/resources/braze_sdk_authentication_key/resource.tf
  examples/sdk_authentication_key/relinquish/removed.tf
  internal/provider/braze_sdk_authentication_key_resource_schema.go
  internal/provider/braze_sdk_authentication_keys_resource_schema.go
  templates/index.md.tmpl
  templates/list-resources.md.tmpl
  templates/resources.md.tmpl
  templates/resources/sdk_authentication_key.md.tmpl
  templates/resources/sdk_authentication_keys.md.tmpl
Due: provider

feat(cli): report provider version and source commit
  main.go
Due: none

docs: separate practitioner setup from contributor workflow
  DEVELOPMENT.md
  README.md
Due: none

test: cover SDK key promotion in a single lifecycle
  internal/provider/braze_sdk_authentication_key_resource_test.go
Due: provider

test: consolidate template name validation scenarios
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/invalid_config_test.go
  internal/provider/testdata/TestAccBrazeContentBlockCreateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeContentBlockCreateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeContentBlockUpdateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeContentBlockUpdateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateCreateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateCreateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateUpdateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateUpdateNameEmpty/variables.tf
Due: provider

test: expose success status on mock server errors
  internal/braze-client-go/testing/error_test.go
Due: braze-client-go

test: cover malformed catalog fixture pagination cursors
  internal/braze-client-go/testing/handler_catalogs_test.go
Due: braze-client-go

fix: return appropriate HTTP statuses from mock errors
  internal/braze-client-go/testing/handler.go
Due: braze-client-go

fix: reject invalid catalog fixture cursors before slicing
  internal/braze-client-go/testing/handler_catalogs.go
Due: braze-client-go

ci(release): verify and attest provider release artifacts
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
  .goreleaser.yml
  docs/releasing.md
Due: none

chore(release): bump GoReleaser to 2.18.2
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
Due: none

chore(release): share GoReleaser version across workflows
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
  .tool-versions
Due: none

fix(ci): update declared indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none
