Repository cysp/terraform-provider-braze: changes, and which Codecov flags are due for each by the changed paths.
All: braze-client-go, provider

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: braze-client-go
      name: braze-client-go
      paths:
        - internal/braze-client-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**

ignore:
  - "main.go"

feat(provider): introduce typed-list implementation
  internal/provider/typed_list.go
  internal/provider/typed_list_string.go
  internal/provider/typed_list_string_test.go
  internal/provider/typed_list_test.go
  internal/provider/typed_list_type.go
  internal/provider/typed_list_type_test.go
Due: provider

feat(braze-client-go): remove unused http client with user agent
  internal/braze-client-go/ogen_http_client.go
Due: braze-client-go

chore(github/workflows): test with terraform 1.14
  .github/workflows/test.yml
Due: none

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(provider/typed-list): roundtrip null lists
  internal/provider/typed_list_string.go
  internal/provider/typed_list_string_test.go
Due: provider

feat(provider/content_block): allow descriptions to be null
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/openapi/schemas/content_blocks/create/request.yml
  internal/braze-client-go/openapi/schemas/content_blocks/info/response.yml
  internal/braze-client-go/openapi/schemas/content_blocks/update/request.yml
  internal/braze-client-go/optnilstring.go
  internal/braze-client-go/testing/handler_content_blocks.go
  internal/provider/braze_content_block_model_create_request.go
  internal/provider/braze_content_block_model_update_request.go
  internal/provider/braze_content_block_resource_schema.go
  internal/provider/braze_content_block_resource_test.go
Due: braze-client-go, provider

fix(provider/content_block): allow tags list to be null
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_response_decoders_gen.go
  internal/braze-client-go/oas_response_encoders_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/oas_validators_gen.go
  internal/braze-client-go/openapi/schemas/content_blocks/create/request.yml
  internal/braze-client-go/openapi/schemas/content_blocks/info/response.yml
  internal/braze-client-go/openapi/schemas/content_blocks/list/response.yml
  internal/braze-client-go/openapi/schemas/content_blocks/update/request.yml
  internal/braze-client-go/testing/handler_content_blocks.go
  internal/provider/braze_content_block_model_create_request.go
  internal/provider/braze_content_block_model_response.go
  internal/provider/braze_content_block_model_update_request.go
  internal/provider/braze_content_block_resource_schema.go
  internal/provider/testdata/TestAccBrazeContentBlock/variables.tf
Due: braze-client-go, provider

ref(provider/content_block): simplify schema creation now it is once more infallible
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_content_block_resource_schema.go
Due: provider

test(provider/content_block): test tags list changing to null
  internal/provider/braze_content_block_resource_test.go
Due: provider

fix(provider/content_block): continue with next resource after failure to retrieve a list item
  internal/provider/braze_content_block_list_resource.go
Due: provider

chore(github/workflows): use cyspbot to update indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none

feat(braze-client-go): introduce template management
  internal/braze-client-go/oas_client_gen.go
  internal/braze-client-go/oas_handlers_gen.go
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_operations_gen.go
  internal/braze-client-go/oas_parameters_gen.go
  internal/braze-client-go/oas_request_decoders_gen.go
  internal/braze-client-go/oas_request_encoders_gen.go
  internal/braze-client-go/oas_response_decoders_gen.go
  internal/braze-client-go/oas_response_encoders_gen.go
  internal/braze-client-go/oas_router_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/oas_security_gen.go
  internal/braze-client-go/oas_server_gen.go
  internal/braze-client-go/oas_validators_gen.go
  internal/braze-client-go/openapi/openapi.yml
  internal/braze-client-go/openapi/schemas/templates/email/create/request.yml
  internal/braze-client-go/openapi/schemas/templates/email/create/response.yml
  internal/braze-client-go/openapi/schemas/templates/email/info/response.yml
  internal/braze-client-go/openapi/schemas/templates/email/list/response.yml
  internal/braze-client-go/openapi/schemas/templates/email/update/request.yml
  internal/braze-client-go/openapi/schemas/templates/email/update/response.yml
  internal/braze-client-go/testing/handler.go
  internal/braze-client-go/testing/handler_email_templates.go
Due: braze-client-go

chore(github/workflows/update-indirect-dependencies): obtain token from cyspbot
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows/update-indirect-dependencies): update cyspbot-action to correctly bundled release
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows): remove step-security harden-runner
  .github/workflows/go-dependency-submission.yml
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none
