Repository cysp/terraform-provider-braze: changes, and which Codecov flags are due for each by the changed paths.
All: braze-client-go, provider

chore(golangci): adjust noisy lint checks
  .github/workflows/golangci.yml
  .golangci.yml
Due: none

refactor(provider): add content block adapter
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_provider.go
  internal/provider/braze_provider_data.go
Due: provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

chore(golangci): remove stale lint exclusion
  .golangci.yml
Due: none

chore(golangci): use gomodguard v2
  .golangci.yml
Due: none

docs(readme): use current install links
  README.md
Due: none

feat(provider): handle Braze rate limit backoff
  internal/provider/braze_provider.go
  internal/provider/http_client_rate_limit.go
  internal/provider/http_client_rate_limit_test.go
Due: provider

fix(provider/content-block): paginate list results
  internal/braze-client-go/testing/handler_content_blocks.go
  internal/braze-client-go/testing/pagination.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_list_resource_test.go
Due: braze-client-go, provider

refactor(provider): add Braze object adapters
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_list_resource_test.go
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/braze_email_template_list_resource.go
  internal/provider/braze_email_template_list_resource_test.go
  internal/provider/braze_email_template_resource.go
  internal/provider/braze_object_adapter.go
  internal/provider/braze_object_adapter_test.go
  internal/provider/braze_provider.go
  internal/provider/braze_provider_data.go
  internal/provider/state.go
Due: provider

fix(provider): align catalog item values with Braze API
  docs/resources/catalog_item.md
  internal/provider/braze_catalog_item_adapter.go
  internal/provider/braze_catalog_item_model.go
  internal/provider/braze_catalog_item_resource_schema.go
  internal/provider/braze_catalog_list_resource_test.go
  internal/provider/braze_catalog_resource_test.go
  internal/provider/braze_object_adapter_test.go
Due: provider

refactor(provider): extract list resource helper
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_email_template_list_resource.go
  internal/provider/braze_object_list_resource.go
Due: provider

fix(provider): accept content block update 201 response
  internal/braze-client-go/oas_client_gen.go
  internal/braze-client-go/oas_handlers_gen.go
  internal/braze-client-go/oas_interfaces_gen.go
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_response_decoders_gen.go
  internal/braze-client-go/oas_response_encoders_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/oas_server_gen.go
  internal/braze-client-go/openapi/openapi.yml
  internal/braze-client-go/testing/handler_content_blocks.go
  internal/provider/braze_content_block_adapter.go
Due: braze-client-go, provider

test(provider): cover content block update response handling
  internal/provider/braze_object_adapter_test.go
Due: provider

test(provider): improve coverage
  internal/provider/braze_object_adapter_test.go
  internal/provider/http_client_rate_limit_test.go
  internal/provider/http_client_user_agent_test.go
Due: provider

refactor(testing): use ogen IsEmpty for nullable updates
  internal/braze-client-go/testing/handler_content_blocks.go
  internal/braze-client-go/testing/handler_email_templates.go
Due: braze-client-go

refactor(client): generate catalog values as json.RawMessage
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/openapi/schemas/catalog_items/item.yml
  internal/braze-client-go/openapi/schemas/catalog_items/write_item.yml
  internal/braze-client-go/testing/handler_catalogs.go
  internal/provider/braze_catalog_item_model.go
Due: braze-client-go, provider

feat(client): add SDK authentication key API
  internal/braze-client-go/oas_client_gen.go
  internal/braze-client-go/oas_handlers_gen.go
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_operations_gen.go
  internal/braze-client-go/oas_parameters_gen.go
  internal/braze-client-go/oas_request_decoders_gen.go
  internal/braze-client-go/oas_request_encoders_gen.go
  internal/braze-client-go/oas_response_decoders_gen.go
  internal/braze-client-go/oas_response_encoders_gen.go
  internal/braze-client-go/oas_router_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/oas_security_gen.go
  internal/braze-client-go/oas_server_gen.go
  internal/braze-client-go/oas_validators_gen.go
  internal/braze-client-go/openapi/openapi.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/create/request.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/create/response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/delete/request.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/key.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/keys_response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/list/response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/primary/request.yml
  internal/braze-client-go/testing/handler.go
  internal/braze-client-go/testing/handler_sdk_authentication.go
  internal/braze-client-go/testing/handler_sdk_authentication_test.go
  internal/braze-client-go/testing/server_sdk_authentication.go
Due: braze-client-go

feat(provider): manage SDK authentication keys
  .golangci.yml
  docs/design/sdk-authentication-keys.md
  docs/resources/sdk_authentication_key.md
  examples/resources/braze_sdk_authentication_key/import.sh
  examples/resources/braze_sdk_authentication_key/resource.tf
  internal/provider/braze_object_adapter_test.go
  internal/provider/braze_provider.go
  internal/provider/braze_provider_data.go
  internal/provider/braze_sdk_authentication_key_adapter.go
  internal/provider/braze_sdk_authentication_key_model.go
  internal/provider/braze_sdk_authentication_key_resource.go
  internal/provider/braze_sdk_authentication_key_resource_internal_test.go
  internal/provider/braze_sdk_authentication_key_resource_schema.go
  internal/provider/braze_sdk_authentication_key_resource_test.go
  internal/provider/state.go
Due: provider

fix: validate provider configuration and propagate diagnostics
  docs/index.md
  examples/provider/provider.tf
  internal/provider/braze_catalog_item_list_resource.go
  internal/provider/braze_catalog_item_resource.go
  internal/provider/braze_catalog_list_resource.go
  internal/provider/braze_catalog_resource.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_email_template_list_resource.go
  internal/provider/braze_email_template_resource.go
  internal/provider/braze_provider.go
  internal/provider/braze_provider_test.go
  internal/provider/provider_configuration_test.go
  internal/provider/provider_data.go
  internal/provider/provider_data_test.go
  internal/provider/resource_configure_test.go
Due: provider

fix: validate catalog fields and repair catalog imports
  docs/resources/catalog.md
  docs/resources/catalog_item.md
  examples/resources/braze_catalog/import.sh
  examples/resources/braze_catalog/import.tf
  examples/resources/braze_catalog/resource.tf
  examples/resources/braze_catalog_item/import.sh
  examples/resources/braze_catalog_item/import.tf
  examples/resources/braze_catalog_item/resource.tf
  internal/provider/braze_catalog_item_resource.go
  internal/provider/braze_catalog_item_resource_schema.go
  internal/provider/braze_catalog_resource.go
  internal/provider/braze_catalog_resource_schema.go
  internal/provider/braze_catalog_resource_test.go
  internal/provider/catalog_validation_test.go
Due: provider

fix: bound HTTP retries and avoid replaying ambiguous creates
  internal/provider/braze_provider.go
  internal/provider/http_client.go
  internal/provider/http_client_rate_limit.go
  internal/provider/http_client_rate_limit_test.go
  internal/provider/http_client_user_agent.go
  internal/provider/http_retry_test.go
Due: provider

fix: decode structured Braze errors without logging payloads
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/openapi/responses/error.yml
  internal/provider/braze_catalog_adapter.go
  internal/provider/braze_catalog_item_adapter.go
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/error_detail.go
  internal/provider/resource_lifecycle_test.go
Due: braze-client-go, provider

Path conditions:
  braze-client-go: any of: internal/braze-client-go/**, but not: main.go
  provider: any of: internal/provider/**, but not: main.go
