Repository cysp/terraform-provider-braze: changes, and which Codecov flags are due for each by the changed paths.
All: braze-client-go, provider

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: braze-client-go
      name: braze-client-go
      paths:
        - internal/braze-client-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**

ignore:
  - "main.go"

refactor: use standard Framework lists for template tags
  docs/resources/content_block.md
  docs/resources/email_template.md
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_content_block_model.go
  internal/provider/braze_content_block_model_create_request.go
  internal/provider/braze_content_block_model_response.go
  internal/provider/braze_content_block_model_update_request.go
  internal/provider/braze_content_block_resource_schema.go
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/braze_email_template_model.go
  internal/provider/braze_email_template_model_create_request.go
  internal/provider/braze_email_template_model_response.go
  internal/provider/braze_email_template_model_update_request.go
  internal/provider/braze_email_template_resource_schema.go
  internal/provider/braze_object_adapter_test.go
  internal/provider/tags.go
  internal/provider/typed_list.go
  internal/provider/typed_list_string.go
  internal/provider/typed_list_string_test.go
  internal/provider/typed_list_test.go
  internal/provider/typed_list_type.go
  internal/provider/typed_list_type_test.go
Due: provider

fix: preserve the observed email CSS setting when omitted
  docs/resources/email_template.md
  internal/provider/braze_email_template_model_create_request.go
  internal/provider/braze_email_template_model_update_request.go
  internal/provider/braze_email_template_resource_schema.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/email_template_http_test.go
Due: provider

fix: retain created identities and reject mismatched responses
  internal/provider/braze_catalog_adapter.go
  internal/provider/braze_catalog_item_adapter.go
  internal/provider/braze_catalog_item_resource.go
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/braze_email_template_resource.go
  internal/provider/braze_object_adapter.go
  internal/provider/resource_lifecycle_test.go
Due: provider

fix: reject invalid template plans and explain remote retention
  docs/resources/content_block.md
  docs/resources/email_template.md
  examples/resources/braze_content_block/resource.tf
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_content_block_resource_schema.go
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_resource.go
  internal/provider/braze_email_template_resource_schema.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/invalid_config_test.go
  internal/provider/non_blank_string.go
  internal/provider/resource_lifecycle_test.go
  internal/provider/template_plan.go
Due: provider

perf: stream discovery results and stop unused API requests
  docs/list-resources/catalog.md
  docs/list-resources/catalog_item.md
  docs/list-resources/content_block.md
  docs/list-resources/email_template.md
  internal/provider/braze_catalog_adapter.go
  internal/provider/braze_catalog_item_adapter.go
  internal/provider/braze_catalog_item_list_resource.go
  internal/provider/braze_catalog_list_resource.go
  internal/provider/braze_catalog_list_resource_test.go
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_list_resource_test.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/braze_email_template_list_resource.go
  internal/provider/braze_email_template_list_resource_test.go
  internal/provider/braze_object_adapter.go
  internal/provider/braze_object_adapter_test.go
  internal/provider/braze_object_list_resource.go
  internal/provider/list_stream_test.go
  internal/provider/provider_configuration_test.go
Due: provider

test: verify query imports and remote lifecycle outcomes
  docs/list-resources/catalog.md
  docs/list-resources/catalog_item.md
  docs/list-resources/content_block.md
  docs/list-resources/email_template.md
  docs/resources/content_block.md
  docs/resources/email_template.md
  examples/list-resources/braze_catalog/list-resource.tfquery.hcl
  examples/list-resources/braze_catalog_item/list-resource.tfquery.hcl
  examples/list-resources/braze_content_block/list-resource.tfquery.hcl
  examples/list-resources/braze_email_template/list-resource.tfquery.hcl
  examples/resources/braze_content_block/import.sh
  examples/resources/braze_content_block/import.tf
  examples/resources/braze_email_template/import.sh
  examples/resources/braze_email_template/import.tf
  examples/resources/braze_email_template/resource.tf
  internal/braze-client-go/testing/server_content_blocks.go
  internal/braze-client-go/testing/server_email_templates.go
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/braze_provider_testing_test.go
  internal/provider/query_import_cli_test.go
Due: braze-client-go, provider

docs: clarify provider usage and contributor workflows
  README.md
  docs/index.md
  docs/list-resources/catalog.md
  docs/list-resources/catalog_item.md
  docs/list-resources/content_block.md
  docs/list-resources/email_template.md
  docs/resources/catalog.md
  docs/resources/catalog_item.md
  docs/resources/content_block.md
  docs/resources/email_template.md
  templates/index.md.tmpl
  templates/list-resources.md.tmpl
  templates/resources.md.tmpl
Due: none

ci: expand validation and simplify workflow steps
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .golangci.yml
  tools/tools.go
Due: none

ci: fail indirect dependency updates when a command fails
  .github/workflows/update-indirect-dependencies.yml
Due: none

fix: decode structured Braze errors without logging payloads
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/openapi/responses/error.yml
  internal/provider/braze_catalog_adapter.go
  internal/provider/braze_catalog_item_adapter.go
  internal/provider/braze_content_block_adapter.go
  internal/provider/braze_email_template_adapter.go
  internal/provider/error_detail.go
  internal/provider/resource_lifecycle_test.go
Due: braze-client-go, provider

fix: validate provider configuration and propagate diagnostics
  docs/index.md
  examples/provider/provider.tf
  internal/provider/braze_catalog_item_list_resource.go
  internal/provider/braze_catalog_item_resource.go
  internal/provider/braze_catalog_list_resource.go
  internal/provider/braze_catalog_resource.go
  internal/provider/braze_content_block_list_resource.go
  internal/provider/braze_content_block_resource.go
  internal/provider/braze_email_template_list_resource.go
  internal/provider/braze_email_template_resource.go
  internal/provider/braze_provider.go
  internal/provider/braze_provider_test.go
  internal/provider/provider_configuration_test.go
  internal/provider/provider_data.go
  internal/provider/provider_data_test.go
  internal/provider/resource_configure_test.go
Due: provider

fix: validate catalog fields and repair catalog imports
  docs/resources/catalog.md
  docs/resources/catalog_item.md
  examples/resources/braze_catalog/import.sh
  examples/resources/braze_catalog/import.tf
  examples/resources/braze_catalog/resource.tf
  examples/resources/braze_catalog_item/import.sh
  examples/resources/braze_catalog_item/import.tf
  examples/resources/braze_catalog_item/resource.tf
  internal/provider/braze_catalog_item_resource.go
  internal/provider/braze_catalog_item_resource_schema.go
  internal/provider/braze_catalog_resource.go
  internal/provider/braze_catalog_resource_schema.go
  internal/provider/braze_catalog_resource_test.go
  internal/provider/catalog_validation_test.go
Due: provider

fix: bound HTTP retries and avoid replaying ambiguous creates
  internal/provider/braze_provider.go
  internal/provider/http_client.go
  internal/provider/http_client_rate_limit.go
  internal/provider/http_client_rate_limit_test.go
  internal/provider/http_client_user_agent.go
  internal/provider/http_retry_test.go
Due: provider

feat(client): add SDK authentication key API
  internal/braze-client-go/oas_client_gen.go
  internal/braze-client-go/oas_handlers_gen.go
  internal/braze-client-go/oas_json_gen.go
  internal/braze-client-go/oas_operations_gen.go
  internal/braze-client-go/oas_parameters_gen.go
  internal/braze-client-go/oas_request_decoders_gen.go
  internal/braze-client-go/oas_request_encoders_gen.go
  internal/braze-client-go/oas_response_decoders_gen.go
  internal/braze-client-go/oas_response_encoders_gen.go
  internal/braze-client-go/oas_router_gen.go
  internal/braze-client-go/oas_schemas_gen.go
  internal/braze-client-go/oas_security_gen.go
  internal/braze-client-go/oas_server_gen.go
  internal/braze-client-go/oas_validators_gen.go
  internal/braze-client-go/openapi/openapi.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/create/request.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/create/response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/delete/request.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/key.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/keys_response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/list/response.yml
  internal/braze-client-go/openapi/schemas/sdk_authentication/primary/request.yml
  internal/braze-client-go/testing/handler.go
  internal/braze-client-go/testing/handler_sdk_authentication.go
  internal/braze-client-go/testing/handler_sdk_authentication_test.go
  internal/braze-client-go/testing/server_sdk_authentication.go
Due: braze-client-go

feat(provider): manage individual SDK authentication keys
  .golangci.yml
  README.md
  docs/design/sdk-authentication-keys.md
  docs/index.md
  docs/resources/sdk_authentication_key.md
  examples/resources/braze_sdk_authentication_key/import.sh
  examples/resources/braze_sdk_authentication_key/import.tf
  examples/resources/braze_sdk_authentication_key/resource.tf
  internal/provider/braze_provider.go
  internal/provider/braze_provider_data.go
  internal/provider/braze_provider_testing_test.go
  internal/provider/braze_sdk_authentication_key_adapter.go
  internal/provider/braze_sdk_authentication_key_adapter_test.go
  internal/provider/braze_sdk_authentication_key_model.go
  internal/provider/braze_sdk_authentication_key_resource.go
  internal/provider/braze_sdk_authentication_key_resource_internal_test.go
  internal/provider/braze_sdk_authentication_key_resource_schema.go
  internal/provider/braze_sdk_authentication_key_resource_test.go
  internal/provider/resource_lifecycle_test.go
  internal/provider/sdk_authentication_keys_response.go
  internal/provider/sdk_authentication_keys_response_test.go
  internal/provider/state.go
  templates/index.md.tmpl
Due: provider

feat(provider): manage SDK authentication key collections
  docs/design/sdk-authentication-keys-plural.md
  docs/resources/sdk_authentication_keys.md
  examples/resources/braze_sdk_authentication_keys/import.sh
  examples/resources/braze_sdk_authentication_keys/import.tf
  examples/resources/braze_sdk_authentication_keys/resource.tf
  examples/sdk_authentication_keys/combined/resource.tf
  examples/sdk_authentication_keys/import/import.tf
  examples/sdk_authentication_keys/initial/resource.tf
  examples/sdk_authentication_keys/promote/resource.tf
  examples/sdk_authentication_keys/relinquish/removed.tf
  examples/sdk_authentication_keys/retire/resource.tf
  internal/provider/braze_provider.go
  internal/provider/braze_provider_data.go
  internal/provider/braze_sdk_authentication_keys_adapter.go
  internal/provider/braze_sdk_authentication_keys_adapter_test.go
  internal/provider/braze_sdk_authentication_keys_model.go
  internal/provider/braze_sdk_authentication_keys_reconcile.go
  internal/provider/braze_sdk_authentication_keys_resource.go
  internal/provider/braze_sdk_authentication_keys_resource_failure_test.go
  internal/provider/braze_sdk_authentication_keys_resource_ignore_changes_test.go
  internal/provider/braze_sdk_authentication_keys_resource_internal_test.go
  internal/provider/braze_sdk_authentication_keys_resource_schema.go
  internal/provider/braze_sdk_authentication_keys_resource_test.go
  internal/provider/braze_sdk_authentication_keys_validation.go
  internal/provider/sdk_authentication_keys_planner.go
  internal/provider/sdk_authentication_keys_planner_test.go
  templates/resources.md.tmpl
Due: provider

fix(docs): use valid provider page frontmatter
  docs/index.md
  templates/index.md.tmpl
Due: none

ci: align validation with terraform-provider-contentful
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/govulncheck.yml
  .github/workflows/test.yml
  .golangci-lint-version
  main.go
Due: none

feat(cli): report provider version and source commit
  main.go
Due: none

docs: separate practitioner setup from contributor workflow
  DEVELOPMENT.md
  README.md
Due: none

docs: clarify resource ownership and operational workflows
  docs/index.md
  docs/list-resources/catalog.md
  docs/list-resources/catalog_item.md
  docs/list-resources/content_block.md
  docs/list-resources/email_template.md
  docs/resources/catalog.md
  docs/resources/catalog_item.md
  docs/resources/content_block.md
  docs/resources/email_template.md
  examples/resources/braze_sdk_authentication_key/import.sh
  examples/resources/braze_sdk_authentication_key/resource.tf
  examples/sdk_authentication_key/relinquish/removed.tf
  internal/provider/braze_sdk_authentication_key_resource_schema.go
  internal/provider/braze_sdk_authentication_keys_resource_schema.go
  templates/index.md.tmpl
  templates/list-resources.md.tmpl
  templates/resources.md.tmpl
  templates/resources/sdk_authentication_key.md.tmpl
  templates/resources/sdk_authentication_keys.md.tmpl
Due: provider

test: cover SDK key promotion in a single lifecycle
  internal/provider/braze_sdk_authentication_key_resource_test.go
Due: provider

test: consolidate template name validation scenarios
  internal/provider/braze_content_block_resource_test.go
  internal/provider/braze_email_template_resource_test.go
  internal/provider/invalid_config_test.go
  internal/provider/testdata/TestAccBrazeContentBlockCreateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeContentBlockCreateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeContentBlockUpdateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeContentBlockUpdateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateCreateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateCreateNameEmpty/variables.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateUpdateNameEmpty/main.tf
  internal/provider/testdata/TestAccBrazeEmailTemplateUpdateNameEmpty/variables.tf
Due: provider

fix: return appropriate HTTP statuses from mock errors
  internal/braze-client-go/testing/handler.go
Due: braze-client-go

fix: reject invalid catalog fixture cursors before slicing
  internal/braze-client-go/testing/handler_catalogs.go
Due: braze-client-go

test: expose success status on mock server errors
  internal/braze-client-go/testing/error_test.go
Due: braze-client-go

test: cover malformed catalog fixture pagination cursors
  internal/braze-client-go/testing/handler_catalogs_test.go
Due: braze-client-go
